<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; chaRset=utf-8"/>
	<title>结算中心</title>
	<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../style/css/comment.css">
	<link rel="stylesheet" type="text/css" href="../style/css/order-form.css">
</head>
<body>
	<div class="header">
		<span class="backspace"></span>
		<h3>全部订单<span></span></h3>
	</div>

	<div class="container">
		<ul class="order-list">
			<li><a href="#">全部订单</a></li>
			<li><a href="#">正在配送</a></li>
			<li><a href="#">已送达</a></li>
			<li><a href="#">待评价</a></li>
			<li><a href="#">我的地址</a></li>
		</ul>
	</div>
	<script type="text/javascript" src="../js/jquery-1.11.2.js"></script>
</body>
</html>