<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; chaRset=utf-8"/>
	<title>我的红包</title>
	<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../style/css/comment.css">
	<link rel="stylesheet" type="text/css" href="../style/css/red-packet.css">
</head>
<body>
	<div class="header">
		<span class="backspace"></span>
		<h3>红包</h3>
	</div>

	<div class="container">
		<div class="bg">		
		</div>
		<ul class="red-list">
			<li>
				<a href="#">
					<div class="relative">
						<span>10元</span>
						<i>满100元起用</i>
						<p>有效期至2015.10.23</p>
						<p>还有5天过期</p>
					</div>
				</a>
			</li>
			

		</ul>
	</div>
</body>
</html>