<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; chaRset=utf-8" />
	<title>注册</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../style/css/comment.css">
	<link rel="stylesheet" type="text/css" href="../style/css/regist.css">
	<script type="text/javascript" src="../js/jquery-1.11.2.js"></script>
</head>
<body>
	<div class="header">
		<span class="backspace"></span>
		<h3>注册</h3>
	</div>

	<div class="container">
		<form>
			<div class="filed" id="num">
				<span id="phone"></span>
				<input type="text" class="input" id="name" name="name" placeholder="请输入11位手机号" />
			</div>
			<div class="filed" id="identify">
				<span id="check"></span>
				<input type="password" class="input" id="password" name="password" placeholder="请输入短信验证码" />
				<button type="button">点击获取</button>
			</div>
			<div class="filed" id="password">
				<span id="pw"></span>
				<input type="password" name="password" placeholder="6-16位字母和数字的密码" />
			</div>
			<div id="regist">
				<button type="submit" class="submit" id="submit" name="submit">注册</button>
			</div>
		</form>
	</div>
	<script src="../js/comment.js"></script>
</body>
</html>