<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 微信配置 -->
	<bean id="shopConfig" class="com.vanroid.onebuy.conf.ShopConfig">
		<property name="appid" value="wx360ead161feb89ca" />
		<property name="secret" value="19339cf31bae1c6c161596fbaaa1150c" />
		<property name="weixinCallbackUrl" value="http://xianchumo.eicp.net/shop/user/weixinCallback" />
	</bean>
	<!-- 获得token的线程 -->
	<!-- <bean id="tokenThread" class="com.vanroid.weixin.thread.TokenThread"> </bean> -->
	<!-- 初始化程序操作 -->
	<!-- <bean id="initShop" class="com.xianchumo.shop.conf.InitShop"> </bean> -->

</beans>