<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-touch-fullscreen" content="YES">
    <title>一元云购</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="css/amazeui.min.css">
    <link rel="stylesheet" href="css/frozen.css">
    <link rel="stylesheet" href="css/main.css">
    </head>
<body>
    <!-- 底部 -->
    <footer class="am-topbar am-topbar-fixed-bottom" >
        <ul class="ui-tiled" style="font-size:14px;color:#666;">
            <li data-href="index.html" class="ui-border-r"><span class="am-icon-home am-icon-md"></span>首页</li>
            <li data-href="product.html" class="ui-border-r "><i class="am-icon-shopping-bag am-icon-sm"></i><div>最新揭晓</div></li>
            <li data-href="post.html" class="ui-border-r"><i class="am-icon-camera-retro am-icon-sm"></i><div>晒单</div></li>
            <li data-href="cart.html" class="ui-border-r "><span class="am-icon-shopping-cart am-icon-sm"></span><div>购物车</div></li>
            <li data-href="mine.html" class="active"><i class="am-icon-user-plus am-icon-sm"></i><div>我的</div></li>
        </ul>
    </footer>
    <!-- 头部 -->
    <header class="ui-header ui-header-positive headh1" style="background-color: #ff0000!important;">
        <a href="index.html"><i class="am-header-icon am-icon-home am-icon-sm"></i></a>
        <h1>一元云购</h1>
        <i class="am-header-icon am-icon-bars am-icon-sm" id="fenlei"></i>
    </header>
    <div class="welcome gray9">
        欢迎来到一元云购
        <a href="#" class="green">登录</a>
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/amazeui.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>