<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-touch-fullscreen" content="YES">
    <title>一元云购</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="css/amazeui.min.css">
    <link rel="stylesheet" href="css/frozen.css">
    <link rel="stylesheet" href="css/main.css">
    </head>
<body>
    <!-- 底部 -->
    <footer class="am-topbar am-topbar-fixed-bottom" >
        <ul class="ui-tiled" style="font-size:14px;color:#666;">
            <a href="index.html"><li class="ui-border-r"><span class="am-icon-home am-icon-md"></span>首页</li></a>
            <a href="product.html"><li class="ui-border-r "><i class="am-icon-shopping-bag am-icon-sm"></i><div>最新揭晓</div></li></a>
            <a href="post.html"><li class="ui-border-r active"><i class="am-icon-camera-retro am-icon-sm"></i><div>晒单</div></li></a>
            <a href="cart.html"><li class="ui-border-r "><span class="am-icon-shopping-cart am-icon-sm"></span><div>购物车</div></li></a>
            <a href="mine.html"><li><i class="am-icon-user-plus am-icon-sm"></i><div>我的</div></li></a>
        </ul>
    </footer>
    <div class="m_myInfo">
        <dl>
            <dt class="gray6" onclick="function()">
                <a href="userpage">
                    <img src="images/1.jpg"/>
                </a>
                <p>
                    janna62<em class="gray9">(手机号码)</em>
                    <cite class="gray9">
                        <span>
                            <s class="am-icon-empire"></s>
                            云购小将
                        </span>
                    </cite>
                </p>
            </dt>
        </dl>
    </div>
    <div data-am-widget="tabs" class="am-tabs am-tabs-d2 am-no-layout">
        <ul class="am-tabs-nav am-cf">
            <li class="am-active"><a href="[data-tab-panel-0]">云购记录</a></li>
            <li class=""><a href="[data-tab-panel-1]">获得的商品</a></li>
            <li class=""><a href="[data-tab-panel-2]">晒单</a></li>
        </ul>
    <div class="am-tabs-bd">
        <div data-tab-panel-0 class="am-tab-panel am-active">
            <div class="colorbb noRecords clearfix">
                最近三个月无记录
            </div>
        </div>
        <div data-tab-panel-1 class="am-tab-panel ">
            <div class="colorbb noRecords clearfix">
                最近三个月无记录
            </div>
        </div>
        <div data-tab-panel-2 class="am-tab-panel ">
             <div class="colorbb noRecords clearfix">
                最近三个月无记录
            </div>
        </div>  
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/amazeui.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>