@charset "utf-8";
@import "comment";

//背景做图标，一般在左边的
.background-icon(@icon-size: 36px; @url-string){
  display: block;
  padding-left: @icon-size;
  background-image: url(@url-string);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 30px 30px;
  height: 32px;
  line-height: 32px;
}

.product-info {
  .slider {
    padding-top: @height;
  }
  .information {
    margin-bottom: 50px;
    span {
      text-align: left;
    }
    h4 {
      float: left;
      font-size: 26px;
      text-align: left;
      padding: 10px 10px;
      padding-bottom: 0px;
      font-weight: 500;
      color: @black;
    }
    .slogan{
      float: left;
      font-size: 17px;
      color: #FFA59E;
      margin-top: 16px;
    }
    .recommend-veg{
      clear: both;
      font-size: 17px;
      color: @black;
      font-weight: bold;
      margin-left: 10px;
      padding-top: 5px;
    }
    .cost {
      position: relative;
      .clearfix();
      clear: both;
      padding: 0  10px 0 10px;
      span {
        .fl();
        color: @rose;
        font-size: 24px;
        font-weight: 500;
      }
      .price{
        margin-top: 10px;
      }
      .old-price{
        .clearfix();
        left: 100px;
        width: 50px !important;
        margin-top: 2px;
        position: absolute;
        .old{
          display: block;
          position: relative;
          font-style: normal;
          font-size: 17px;
          float: left;
          margin-top: 12px;
          margin-left: 4px;
          font-weight: bold;
        }
        .first-line{
          display: block;
          position: absolute;
          left: 5px;
          top: 22px;
          width: 45px;
          height: 0;
          border: solid 1px #656565;
        }
      }
    }
    .shopping-num{
      margin-bottom: 5px;
    }
    .norms-span {
      font-size: 18px;
      font-weight: 500;
    }
    .norms {
      padding: 12px 10px;
      i {
        display: inline-block;
        background-color: @green;
        color: @white;
        font-size: 24px;
        font-weight: 100;
        padding: 5px;
        border-radius: 5px;
      }
    }
    .dispatching {
      padding: 12px 10px;
      padding-top: 7px;
      //菜谱教程
      .vgtb-teach{
        .background-icon(36px, "../../img/9.png");
      }
      //商品评价
      .pro-comment{
        .background-icon(36px, "../../img/10.png");
      }
      i {
        color: @black;
        font-size: 12px;
        font-weight: 500;
      }
      .p-right {
        span {
          font-size: 16px;
          color: @black;
          font-weight: 500;
          i {
            font-size: 16px;
            color: #f43952;
            font-weight: 500;
          }
        }
        .toRight{
        	display: inline-block;
        	width:30px;
        	height:25px;
        	background-image: url("../../img/toRight.png");
        	background-size: 100% 100%;
        	vertical-align: middle;
        	margin-top: 3px;
        }
      }
      .time-tip{
        display: inline-block;
        margin-left: -10px;
      }
      .comment{
        font-size: 16px;
      }
      .one-recommend{
        .norms-span{
          display: block;
          float: left;
          height: 60px;
          line-height: 60px;
          color: #757575;
        }
        img,.next-page{
          width: 50px;
          height: 50px;
          float: right;
          margin: 5px 0;
        }
        .next-page{
          background: url("../../img/toRight.png") no-repeat;
          background-position: center center;
          background-size: 75% 75%;
          margin-top: 3px;
        }
        .clearfix();
      }
      .more{
        display: block;
        padding: 5px;
        width: 130px;
        margin: 0 auto;
        -webkit-border-radius: 23px;
        -moz-border-radius: 23px;
        border-radius: 23px;
        background-color: #7DD3A6;
        height: 100%;
        line-height: 100%;
        text-align: center;
        color: white;
        clear: left;
      }
    }
    .one-rec{
      padding: 0 10px;
      clear: left;
    }
  }
  .divider{
    clear: left;
  }
}