@charset "utf-8";
.header h3 {
  font-weight: 400;
  color: white;
}
.header .save {
  float: right;
  font-size: 24px;
  height: 44px;
  line-height: 44px;
  color: #FFFFFF;
  margin-right: 10px;
}
select {
  -webkit-appearance: none;
}
form label {
  width: 70px;
  color: #212121 !important;
  font-weight: 400;
  float: left;
  margin: 0 10px;
  height: 50px;
  line-height: 50px;
  clear: both;
  font-size: 20px;
}
form input,
form select {
  float: left;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  color: #757575;
}
form input {
  height: 30px;
  line-height: 30px;
}
form select {
  width: 150px;
}
form i {
  display: inline-block;
  width: 0;
  height: 0;
  float: right;
  margin: 25px 20% 0 0;
  border: 5px solid transparent;
  border-top: 7px solid #959595;
}
form .city {
  margin-left: 5px;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  color: #757575;
  font-weight: 400;
}
form .name {
  margin-top: 44px;
}
form #name {
  margin-top: 54px;
}
form #name + em,
form #phone + em {
  display: block;
  margin-top: 54px;
  float: right;
  margin-right: 20px;
  font-style: normal;
  font-size: 18px;
  color: #F43952;
}
form #phone {
  margin-top: 10px;
}
form #phone + em {
  margin-top: 10px;
}
form #name,
form #phone {
  width: 180px;
  float: left;
}
form .divider {
  clear: left;
}
