@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
a,
label {
  blr: expression(this.onFocus=this.blur());
}
a,
label {
  outline: none;
}
.header {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 44px;
  background-color: #5DC890;
}
.header .backspace {
  float: left;
  display: inline;
  width: 24px;
  height: 24px;
  background-image: url("../../img/返回 48.png");
  background-size: 100% 100%;
  margin-top: 10px;
  margin-left: 10px;
}
.header .share {
  float: right;
  display: inline;
  width: 24px;
  height: 24px;
  background-image: url("../../img/02 分享.png");
  margin-top: 10px;
  margin-right: 10px;
  background-size: 100% 100%;
}
.header h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -22px;
  width: 100px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-family: "幼圆";
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
}
.header ._search {
  float: left;
  display: inline;
  width: 83%;
  height: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 6px;
  font-size: 22px;
}
.header ._search span {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-right: 10px;
  background-size: 100% 100%;
}
.header ._search span:nth-of-type(1) {
  float: left;
  display: inline;
  margin-left: 10px;
  background-image: url("../../img/search.png");
}
.header ._search span:nth-of-type(2) {
  float: right;
  display: inline;
  background-image: url("../../img/x.png");
}
.header ._search form {
  width: 70%;
  display: inline-block;
}
.header ._search .search-you-want {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  width: 100%;
  font-size: 16px;
}
.footer {
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  width: 100%;
  background-color: #FFFFFF;
  height: 55px;
  border-top: solid 1px #cccccc;
}
.footer ul {
  position: absolute;
  bottom: 0;
  width: 100%;
  *zoom: 1;
}
.footer ul:before,
.footer ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.footer ul:after {
  clear: both;
}
.footer ul li {
  width: 25%;
  float: left;
  display: inline;
}
.footer ul li a {
  width: 100%;
}
.footer ul li a > span {
  display: block;
  width: 60px;
  margin: 0 auto;
}
.footer ul li a > span .footer-icon {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-top: 3px;
}
.footer ul li a > span i {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #212121;
}
.footer ul li a #icon1 {
  background-image: url("../../img/3.png");
  background-size: 100% 100%;
}
.footer ul li a #icon2 {
  background-image: url("../../img/lanzi.png");
  background-size: 100% 100%;
}
.footer ul li a #icon3 {
  position: relative;
  background-image: url("../../img/me.png");
  background-size: 100% 100%;
}
.footer ul li a #icon3 .tooltip {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -40%;
  left: 50%;
  background-image: url("../../img/redRadiusTip.png");
  background-size: 100% 100%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  line-height: 24px;
  transform: scale(0.7);
}
.footer ul li a #icon4 {
  background-image: url("../../img/xianyouhui.png");
  background-size: 100% 100%;
}
#garden .footer-active {
  background-image: url("../../img/Hcaiyuanzi.png") !important;
}
#garden .footer-active + i {
  color: #5DC890 !important;
}
#basket .footer-active {
  background-image: url("../../img/Hcaiyuanzi.png") !important;
}
#basket .footer-active + i {
  color: #5DC890 !important;
}
#footer-me .footer-active {
  background-image: url("../../img/hoverMe.png") !important;
}
#footer-me .footer-active + i {
  color: #5DC890 !important;
}
.border-raduis {
  border-radius: 10px;
}
html {
  font-family: "幼圆";
  font-size: 24px;
  color: #757575;
  font-weight: 400;
}
i {
  font-style: normal;
}
a {
  text-align: center;
}
.list-inline {
  display: inline-block;
}
[placeholder] {
  font-family: '幼圆';
}
.divider {
  display: block;
  width: 95%;
  height: 0px;
  margin: 0 auto;
  border-bottom: solid 1px #cccccc;
}
.p-right {
  float: right;
  display: inline;
}
.shopping-num {
  float: right;
  display: inline;
}
.shopping-num span {
  display: block;
  width: 36px;
  height: 36px;
  border: solid 1px #cccccc;
  float: left;
  display: inline;
}
.shopping-num span:nth-of-type(1) {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  background-image: url("../../img/01.2 -.png");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center center;
}
.shopping-num span:nth-of-type(2) {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-image: url("../../img/01.2 +.png");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center center;
}
.shopping-num .count {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: inline;
  width: 36px;
  height: 38px;
  padding: 5px;
  margin: 0 -1px;
  border: solid 1px #cccccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 20px;
  text-align: center;
  -webkit-appearance: none;
  vertical-align: top;
}
.love-search {
  *zoom: 1;
}
.love-search:before,
.love-search:after {
  display: table;
  content: "";
  line-height: 0;
}
.love-search:after {
  clear: both;
}
.love-search li {
  float: left;
  display: inline;
  width: 30%;
  padding-bottom: 5px;
  border: solid 1px #cccccc;
  border-radius: 15px;
  margin-right: 7px;
}
.love-search li a {
  display: block;
  width: 100%;
}
.love-search li a img {
  display: block;
  width: 100%;
  height: 90px;
}
.love-search li a i {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #212121;
}
.love-search li a span {
  font-size: 14px;
}
.love-search li a span:nth-of-type(1) {
  color: #F43A52;
}
.love-search li a span:nth-of-type(2) {
  color: #212121;
}
.header h3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-left: 50px;
  margin-top: -6px;
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
  background-image: url("../../img/order-down.png");
}
.new-divider {
  width: 100%;
  height: 6px;
  background-color: #EBEBEB;
  border: none;
}
.big-divider {
  width: 100%;
  height: 12px;
  background-color: #EBEBEB;
}
.container {
  padding-top: 44px;
  padding-bottom: 0px;
}
.container .want-more {
  padding-left: 10px;
}
.container .want-more a {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #212121;
  font-weight: 500;
  text-align: left;
  *zoom: 1;
}
.container .want-more a:before,
.container .want-more a:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .want-more a:after {
  clear: both;
}
.container .want-more a span {
  float: left;
  display: inline;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  margin-top: 6px;
  background-size: 100% 100%;
  background-image: url("../../img/order-buy.png");
}
.container .want-more a i {
  float: right;
  display: inline;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  margin-top: 6px;
  background-size: 100% 100%;
  background-image: url("../../img/toRight.png");
}
.container .order-list li {
  *zoom: 1;
}
.container .order-list li:before,
.container .order-list li:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .order-list li:after {
  clear: both;
}
.container .order-list li .info {
  padding-left: 10px;
  *zoom: 1;
}
.container .order-list li .info:before,
.container .order-list li .info:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .order-list li .info:after {
  clear: both;
}
.container .order-list li .info h4 {
  width: 70%;
  float: left;
  display: inline;
  margin-top: 10px;
  font-size: 15px;
  color: #212121;
  text-align: left;
}
.container .order-list li .info p {
  width: 70%;
  float: left;
  display: inline;
  font-size: 12px;
  color: #757575;
  text-align: left;
}
.container .order-list li .info span {
  float: right;
  display: inline;
  margin-right: 10px;
  margin-top: -15px;
  font-size: 16px;
  color: #F43A52;
}
.container .order-list li .pic {
  padding-left: 10px;
  margin-top: 6px;
  *zoom: 1;
}
.container .order-list li .pic:before,
.container .order-list li .pic:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .order-list li .pic:after {
  clear: both;
}
.container .order-list li .pic img {
  float: left;
  display: inline;
  width: 25%;
  height: 25%;
  min-width: 80px;
  min-height: 80px;
  border-radius: 25px;
  margin-right: 10px;
}
.container .order-list li .pic span {
  float: right;
  display: inline;
  width: 24px;
  height: 24px;
  verticla-align: bottom;
  margin-right: 10px;
  margin-top: 30px;
  background-size: 100% 100%;
  background-image: url("../../img/order-down.png");
}
.container .order-list li .pic h3 {
  float: right;
  display: inline;
  font-size: 16px;
  color: #212121;
  margin: 10px 0px;
  margin-right: 10px;
}
.container .order-list li .go-evaluate {
  *zoom: 1;
}
.container .order-list li .go-evaluate:before,
.container .order-list li .go-evaluate:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .order-list li .go-evaluate:after {
  clear: both;
}
.container .order-list li .go-evaluate a {
  float: right;
  display: inline;
  margin: 10px;
  font-size: 16px;
  color: #5dc890;
  border: solid 1px #5dc890;
  border-radius: 20px;
  padding: 5px 15px;
}
.container .order-list .order-list-two {
  border-bottom: solid 1px #cccccc;
}
.container .menu-list,
.container .bargin-list {
  padding: 0px 10px;
}
.container .menu-list li,
.container .bargin-list li {
  border-bottom: solid 1px #cccccc;
  *zoom: 1;
}
.container .menu-list li:before,
.container .bargin-list li:before,
.container .menu-list li:after,
.container .bargin-list li:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .menu-list li:after,
.container .bargin-list li:after {
  clear: both;
}
.container .menu-list li a,
.container .bargin-list li a {
  display: block;
  width: 100%;
  height: 26px;
  padding: 10px 0px;
  *zoom: 1;
}
.container .menu-list li a:before,
.container .bargin-list li a:before,
.container .menu-list li a:after,
.container .bargin-list li a:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .menu-list li a:after,
.container .bargin-list li a:after {
  clear: both;
}
.container .menu-list li p,
.container .bargin-list li p {
  float: left;
  display: inline;
  width: 70%;
  line-height: 26px;
  font-size: 16px;
  color: #212121;
  text-align: left;
}
.container .menu-list li span,
.container .bargin-list li span {
  float: right;
  display: inline;
  font-size: 16px;
  color: #212121;
}
.container .menu-list li:last-child,
.container .bargin-list li:last-child {
  border: none;
}
.container .menu-list .bargin-li,
.container .bargin-list .bargin-li {
  height: 26px;
  line-height: 26px;
  padding: 10px 0px;
}
.container .menu-list .bargin-li span,
.container .bargin-list .bargin-li span {
  color: #F43A52;
}
.container .menu-list .bargin-li span[class="all-count"],
.container .bargin-list .bargin-li span[class="all-count"] {
  color: #212121;
  font-size: 18px;
}
.container .menu-list .bargin-li span[class="all-count"] i,
.container .bargin-list .bargin-li span[class="all-count"] i {
  color: #F43A52;
}
.container .order-all-list {
  padding: 0px 10px;
}
.container .order-all-list li {
  height: 44px;
  border-bottom: solid 1px #cccccc;
}
.container .order-all-list li a {
  display: block;
  width: 100%;
  color: #212121;
  font-size: 16px;
  padding: 10px 0px;
  font-weight: 500;
  text-align: left;
  *zoom: 1;
}
.container .order-all-list li a:before,
.container .order-all-list li a:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .order-all-list li a:after {
  clear: both;
}
.container .order-all-list li a span {
  float: left;
  display: inline;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  background-size: 100% 100%;
}
.container .order-all-list li a #evaluate {
  background-image: url("../../img/order-evaluate.png");
}
.container .order-all-list li a #order-complain {
  background-image: url("../../img/order-pop.png");
}
.container .order-all-list li a #order-phone {
  background-image: url("../../img/order-phone.png");
}
.container .order-all-list li:last-child {
  border: none;
}
span[class="triangle"] {
  position: absolute;
  display: none;
}
span[class="triangle"]:nth-of-type(1) {
  top: 28px;
  left: 45%;
  border-style: solid dashed dashed dashed;
  border-color: #cccccc transparent transparent transparent;
  width: 0;
  height: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  border-width: 15px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  z-index: 10;
}
span[class="triangle"]:nth-of-type(2) {
  top: 32px;
  left: 45.5%;
  border-style: solid dashed dashed dashed;
  border-color: #ffffff transparent transparent transparent;
  width: 0;
  height: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  border-width: 13px;
  border-color: transparent transparent #ffffff transparent;
  border-style: dashed dashed solid dashed;
  z-index: 20;
}
.all-menu {
  position: absolute;
  top: 57px;
  left: 25%;
  width: 50%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #212121;
  display: none;
}
.all-menu .order-list li {
  width: 100%;
  text-align: center;
  border-bottom: solid 1px #cccccc;
}
.all-menu .order-list li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #212121;
  font-size: 16px;
  padding: 15px 0px;
  font-weight: 500;
}
.all-menu .order-list li a span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  vertical-align: bottom;
  background-size: 100% 100%;
}
.all-menu .order-list li a #all-orders {
  background-image: url("../../img/order-all.png");
}
.all-menu .order-list li a #transform {
  background-image: url("../../img/order-transform.png");
}
.all-menu .order-list li a #arrived {
  background-image: url("../../img/order-arrived.png");
}
.all-menu .order-list li a #wait-evaluate {
  background-image: url("../../img/order-evaluate.png");
}
.all-menu .order-list li a #my-address {
  background-image: url("../../img/order-adress.png");
}
.all-menu .order-list li:last-child {
  border: none;
}
.loading-bar {
  display: none;
  text-align: center;
  height: 35px;
  line-height: 35px;
}
