@charset "UTF-8";
.top-margin-1x {
  margin-top: 10px !important;
}
.bottom-margin-1x {
  margin-bottom: 10px;
}
.left-margin-1x {
  margin-left: 10px !important;
}
.right-margin-1x {
  margin-right: 10px;
}
.top-bottom-margin-1x {
  margin: 10px 0px;
}
.left-right-margin-1x {
  margin: 0px 10px;
}
.top-margin-2x {
  margin-top: 20px !important;
}
.bottom-margin-2x {
  margin-bottom: 20px !important;
}
.right-margin-3x {
  margin-right: 2.5%!important;
}
.right-margin-2x {
  margin-right: 20px !important;
}
* {
  list-style-type: none;
}
a.btn.disabled {
  pointer-events: auto;
}
body {
  font-family: "微软雅黑", serif;
  background-color: #414C3A !important;
  min-width: 1255px;
  *zoom: 1;
}
body:before,
body:after {
  display: table;
  content: "";
  line-height: 0;
}
body:after {
  clear: both;
}
body .header {
  height: 75px;
  background: #A7C731;
}
body .header h1 {
  margin: 0 0 0 20px;
  height: 75px;
  line-height: 75px;
  color: white;
  font-size: 35px;
  padding-left: 120px;
  background: url("../../img/007.png") no-repeat 0 center;
}
body .main-menu {
  width: 23%;
  float: left;
  background: #414C3A;
  min-height: 610px;
}
body .main-menu .portrait {
  padding: 1px;
  margin: 20px;
  *zoom: 1;
}
body .main-menu .portrait:before,
body .main-menu .portrait:after {
  display: table;
  content: "";
  line-height: 0;
}
body .main-menu .portrait:after {
  clear: both;
}
body .main-menu .portrait img {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
body .main-menu .portrait h2 {
  width: 50%;
  text-align: left;
  float: right;
  color: white;
  font-size: 25px;
  margin: 40px 0 0 0;
}
body .main-menu .portrait p {
  width: 50%;
  text-align: left;
  float: right;
  color: #A2A5A1;
  font-size: 16px;
  margin: 0;
}
body .main-menu .list-group {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
body .main-menu .list-group li {
  background-color: inherit;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 0 0 0 40px;
  border: none;
  border-bottom: solid 1px #414445 !important;
}
body .main-menu .list-group li a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
  font-size: 22px;
  padding-left: 40px;
}
body .main-menu .list-group li a:focus,
body .main-menu .list-group li a:hover,
body .main-menu .list-group li a:active {
  text-decoration: none;
}
body .main-menu .list-group li:hover {
  background: #1A1C1A;
}
body .main-menu .list-group .active {
  background: #A7C731;
}
body .main-menu .list-group .active:hover {
  background: #A7C731;
}
body .main-menu .list-group li:first-child a {
  background: url("../../img/001.png") no-repeat 0 center;
}
body .main-menu .list-group li:nth-child(2) a {
  background: url("../../img/002.png") no-repeat 0 center;
}
body .main-menu .list-group li:nth-child(3) a {
  background: url("../../img/003.png") no-repeat 0 center;
}
body .main-menu .list-group li:nth-child(4) a {
  background: url("../../img/004.png") no-repeat 0 center;
}
body .main-menu .list-group li:nth-child(5) a {
  background: url("../../img/005.png") no-repeat 0 center;
}
body .content {
  width: 77%;
  float: right;
  background: #F1F1F1;
  min-height: 610px;
}
body .content .content-header {
  height: 40px;
  background: white;
}
body .content .content-header span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
body .content .content-header .position {
  float: left;
  margin-left: 20px;
  padding-left: 28px;
  background: url("../../img/000.png") no-repeat 0 5px;
}
body .content .content-header .time {
  float: right;
  margin-right: 20px;
}
body .content .main-content {
  position: relative;
  width: 97%;
  min-height: 500px;
  margin: 20px auto;
  border-top: solid 2px #A7C731;
  background: white;
  *zoom: 1;
}
body .content .main-content:before,
body .content .main-content:after {
  display: table;
  content: "";
  line-height: 0;
}
body .content .main-content:after {
  clear: both;
}
body .content .main-content .main-content-header {
  margin: 0;
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  font-weight: normal;
  font-size: 15px;
  border-bottom: solid 1px #E6E6E6;
}
body .content .main-content .main-content-header .evaluate {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-size: 100% 100%;
  background-image: url("../../img/order-evaluate.png");
}
body .content .main-content .evaluate-list > ul {
  margin: 0;
  padding: 0;
}
body .content .main-content .evaluate-list > ul > li {
  border-bottom: solid 1px #BDBDBD;
  font-size: 15px;
  *zoom: 1;
}
body .content .main-content .evaluate-list > ul > li:before,
body .content .main-content .evaluate-list > ul > li:after {
  display: table;
  content: "";
  line-height: 0;
}
body .content .main-content .evaluate-list > ul > li:after {
  clear: both;
}
body .content .main-content .evaluate-list > ul > li .evaluate-content {
  float: left;
  width: 555px;
  margin-left: 20px;
}
body .content .main-content .evaluate-list > ul > li .evaluate-content .check-id {
  display: inline-block;
  float: left;
  line-height: 35px;
}
body .content .main-content .evaluate-list > ul > li .evaluate-content .time {
  display: inline-block;
  float: right;
  line-height: 35px;
  color: #8D8D8D;
}
body .content .main-content .evaluate-list > ul > li .evaluate-content .comment {
  height: 60px;
  margin: 0;
  clear: both;
}
body .content .main-content .evaluate-list > ul > li .evaluate-product {
  float: left;
  margin-left: 50px;
}
body .content .main-content .evaluate-list > ul > li .evaluate-product .product {
  display: block;
  float: left;
  width: 40px;
  margin-top: 6px;
}
body .content .main-content .evaluate-list > ul > li .evaluate-product > ul {
  float: left;
  margin: 6px 0 0 0;
  padding: 0;
}
body .content .main-content .evaluate-list > ul > li .evaluate-product > ul li i {
  display: inline-block;
  margin-left: 15px;
  font-style: normal;
}
body .content .main-content .evaluate-list > ul > li .evaluate-user {
  float: left;
  margin-left: 40px;
}
body .content .main-content .evaluate-list > ul > li .evaluate-user .user-name {
  display: block;
  float: left;
  margin: 6px 0 0 0;
}
body .content .main-content .evaluate-list > ul > li .evaluate-user .star-comment {
  display: block;
  float: left;
  clear: both;
  margin: 6px 0 0 0;
}
body .content .main-content .evaluate-list > ul > li .evaluate-user .star-comment i {
  display: block;
  float: left;
  font-style: normal;
}
body .content .main-content .evaluate-list > ul > li .evaluate-user .star-comment .star {
  display: block;
  float: left;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background: url("../../img/heart.png");
  background-size: 100% 100%;
}
body .content .main-content > .btn {
  margin: 20px 0;
  padding: 5px 15px;
}
body .content .main-content > .btn:first-of-type {
  margin-left: 24px;
}
body .content .main-content .btn-border-none {
  border: none;
}
body .content .main-content .btn-primary {
  background-color: #A7C731;
}
body .content .main-content .btn-primary:hover {
  background-color: #8BA231;
}
body .content .main-content .active {
  background-color: #414C3A;
  color: white;
}
body .content .main-content .active:hover {
  background-color: #414C3A;
}
body .content .main-content table {
  width: 95%;
  margin: 0 auto;
}
body .content .main-content table .untreated {
  color: #E74848;
}
body .content .main-content table th,
body .content .main-content table td {
  vertical-align: middle;
  text-align: center;
}
body .content .main-content table th input,
body .content .main-content table td input {
  display: inline-block;
  margin-right: 2px;
}
body .content .main-content .page-divider {
  float: right;
  margin: 20px;
  margin-right: 2.5%;
}
body .trade-time {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 15px;
  border: solid 1px #EAEAEA;
  background-color: #F8F8F8;
  *zoom: 1;
}
body .trade-time:before,
body .trade-time:after {
  display: table;
  content: "";
  line-height: 0;
}
body .trade-time:after {
  clear: both;
}
body .trade-time span {
  display: inline-block;
  margin: 0px 20px;
  font-size: 20px;
}
body .trade-time span:nth-of-type(1) {
  margin-right: 5px;
}
body .trade-time .time {
  width: 230px;
  display: inline-block;
}
.comment > .header {
  height: 75px;
  background: #53D2D8;
}
.comment > .header h1 {
  padding-left: 150px;
  background: url("../../img/pm-transparent-logo.png") no-repeat 0 center;
}
.comment .main-menu {
  background: #409EA0;
}
.comment .main-menu img {
  float: none !important;
  margin-left: 40px;
}
.comment .main-menu h3 {
  font-weight: 100;
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-left: 20px;
}
.comment .main-menu .list-group li:hover {
  background: rgba(83, 210, 216, 0.5);
}
.comment .main-menu .list-group .active {
  background: #53D2D8;
}
.comment .main-menu .list-group .active:hover {
  background: #53D2D8;
}
.comment .main-menu .list-group li:first-child a {
  background: url("../../img/pm-product.png") no-repeat 0 center;
}
.comment .main-menu .list-group li:nth-child(2) a {
  background: url("../../img/pm-house.png") no-repeat 0 center;
}
.comment .main-menu .list-group li:nth-child(3) a {
  background: url("../../img/pm-person.png") no-repeat 0 center;
}
.comment .main-menu .list-group li:nth-child(4) a {
  background: url("../../img/pm-orders.png") no-repeat 0 center;
}
#productManage .main-content {
  border-top: none;
}
#productManage .main-content .main-content-header {
  font-size: 28px;
  font-weight: 100;
  color: #53D2D8;
}
#productManage .main-content .btn-primary {
  background-color: #53D2D8;
}
#productManage .main-content .btn-primary:hover {
  background-color: rgba(83, 210, 216, 0.7);
}
#orderManage .main-content {
  border-top: none;
}
#orderManage .main-content .inline-div {
  *zoom: 1;
  padding: 15px 0px;
}
#orderManage .main-content .inline-div:before,
#orderManage .main-content .inline-div:after {
  display: table;
  content: "";
  line-height: 0;
}
#orderManage .main-content .inline-div:after {
  clear: both;
}
#orderManage .main-content .inline-div span {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 2.5%;
  background-image: url("../../img/03.3.png");
  background-size: 100% 100%;
}
#orderManage .main-content .inline-div .shop-icon {
  background-image: url("../../img/normal-orders.png");
}
#orderManage .main-content .inline-div h3 {
  float: left;
  width: 200px;
  color: #53D2D8;
  margin: 0px;
}
#orderManage .main-content .btn-primary {
  background-color: #53D2D8;
}
#orderManage .main-content .btn-primary:hover {
  background-color: rgba(83, 210, 216, 0.7);
}
#orderManage .wrap {
  position: relative;
}
#orderManage .wrap #search {
  position: absolute;
  left: 0px;
  top: 2px;
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 2.5%;
  background-image: url("../../img/03.2.png");
  background-size: 100% 100%;
}
#orderManage .wrap input {
  width: 95%;
  margin: 0 auto;
  padding-left: 30px;
}
#orderManage tbody tr #danger-orders {
  position: relative;
}
#orderManage tbody tr #danger-orders #danger-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-image: url("../../img/03.1.png");
  background-size: 100% 100%;
}
#orderManage tbody tr #danger-orders .badge {
  position: absolute;
  top: 2px;
  right: 23%;
  background-color: #D74B4C;
}
#orderManage tbody tr .align-left {
  text-align: left;
}
#orderManage tbody tr #normal-orders #normal-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-image: url("../../img/normal-orders.png");
  background-size: 100% 100%;
}
