@charset "UTF-8";
.top-margin-1x {
  margin-top: 10px !important;
}
.bottom-margin-1x {
  margin-bottom: 10px;
}
.left-margin-1x {
  margin-left: 10px !important;
}
.right-margin-1x {
  margin-right: 10px;
}
.top-bottom-margin-1x {
  margin: 10px 0px;
}
.left-right-margin-1x {
  margin: 0px 10px;
}
.top-margin-2x {
  margin-top: 20px !important;
}
.bottom-margin-2x {
  margin-bottom: 20px !important;
}
.right-margin-3x {
  margin-right: 2.5%!important;
}
.right-margin-2x {
  margin-right: 20px !important;
}
* {
  list-style-type: none;
}
a.btn.disabled {
  pointer-events: auto;
}
body {
  font-family: "微软雅黑", serif;
  background-color: #414C3A !important;
  min-width: 1340px;
  *zoom: 1;
}
body:before,
body:after {
  display: table;
  content: "";
  line-height: 0;
}
body:after {
  clear: both;
}
body .header {
  height: 75px;
  background: #a7c731;
}
body .header h1 {
  margin: 0 0 0 20px;
  height: 75px;
  line-height: 75px;
  color: white;
  font-size: 35px;
  padding-left: 120px;
  background: url("../../img/007.png") no-repeat 0 center;
}
body .main-menu {
  width: 23%;
  float: left;
  background: #414C3A;
  min-height: 610px;
}
body .main-menu .portrait {
  padding: 1px;
  margin: 20px;
  *zoom: 1;
}
body .main-menu .portrait:before,
body .main-menu .portrait:after {
  display: table;
  content: "";
  line-height: 0;
}
body .main-menu .portrait:after {
  clear: both;
}
body .main-menu .portrait img {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
body .main-menu .portrait h2 {
  width: 50%;
  text-align: left;
  float: right;
  color: white;
  font-size: 25px;
  margin: 40px 0 0 0;
}
body .main-menu .portrait p {
  width: 50%;
  text-align: left;
  float: right;
  color: #A2A5A1;
  font-size: 16px;
  margin: 0;
}
body .main-menu .list-group {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
body .main-menu .list-group li {
  background-color: inherit;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 0 0 0 40px;
  border: none;
  border-bottom: solid 1px #414445 !important;
}
body .main-menu .list-group li a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
  font-size: 22px;
  padding-left: 40px;
}
body .main-menu .list-group li a:focus,
body .main-menu .list-group li a:hover,
body .main-menu .list-group li a:active {
  text-decoration: none;
}
body .main-menu .list-group li:hover {
  background: #1a1c1a;
}
body .main-menu .list-group .active {
  background: #a7c731;
}
body .main-menu .list-group .active:hover {
  background: #a7c731;
}
body .main-menu .list-group li:first-child a {
  background: url("../../img/001.png") no-repeat 0 center;
}
body .main-menu .list-group li:nth-child(2) a {
  background: url("../../img/002.png") no-repeat 0 center;
}
body .main-menu .list-group li:nth-child(3) a {
  background: url("../../img/003.png") no-repeat 0 center;
}
body .main-menu .list-group li:nth-child(4) a {
  background: url("../../img/004.png") no-repeat 0 center;
}
body .main-menu .list-group li:nth-child(5) a {
  background: url("../../img/005.png") no-repeat 0 center;
}
body .content {
  width: 77%;
  float: right;
  background: #F1F1F1;
  min-height: 610px;
}
body .content .content-header {
  height: 40px;
  background: white;
}
body .content .content-header span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
body .content .content-header .position {
  float: left;
  margin-left: 20px;
  padding-left: 28px;
  background: url("../../img/000.png") no-repeat 0 5px;
}
body .content .content-header .time {
  float: right;
  margin-right: 20px;
}
body .content .btn-border-none {
  border: none;
}
body .content .btn-primary {
  background-color: #a7c731;
}
body .content .btn-primary:hover {
  background-color: #8BA231;
}
body .content .active {
  background-color: #414C3A;
  color: white;
}
body .content .active:hover {
  background-color: #414C3A;
}
body .content .active-green {
  background-color: #a7c731;
  color: white;
}
body .content .main-content {
  position: relative;
  width: 97%;
  min-height: 500px;
  margin: 20px auto;
  border-top: solid 2px #a7c731;
  background: white;
  *zoom: 1;
}
body .content .main-content:before,
body .content .main-content:after {
  display: table;
  content: "";
  line-height: 0;
}
body .content .main-content:after {
  clear: both;
}
body .content .main-content .main-content-header {
  margin: 0;
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  font-weight: normal;
  font-size: 15px;
  border-bottom: solid 1px #E6E6E6;
}
body .content .main-content .main-content-header .evaluate {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-size: 100% 100%;
  background-image: url("../../img/order-evaluate.png");
}
body .content .main-content .evaluate-list > ul {
  margin: 0;
  padding: 0;
}
body .content .main-content .evaluate-list > ul > li {
  border-bottom: solid 1px #BDBDBD;
  font-size: 15px;
  *zoom: 1;
}
body .content .main-content .evaluate-list > ul > li:before,
body .content .main-content .evaluate-list > ul > li:after {
  display: table;
  content: "";
  line-height: 0;
}
body .content .main-content .evaluate-list > ul > li:after {
  clear: both;
}
body .content .main-content .evaluate-list > ul > li .evaluate-content {
  float: left;
  width: 555px;
  margin-left: 20px;
}
body .content .main-content .evaluate-list > ul > li .evaluate-content .check-id {
  display: inline-block;
  float: left;
  line-height: 35px;
}
body .content .main-content .evaluate-list > ul > li .evaluate-content .time {
  display: inline-block;
  float: right;
  line-height: 35px;
  color: #8D8D8D;
}
body .content .main-content .evaluate-list > ul > li .evaluate-content .comment {
  height: 60px;
  margin: 0;
  clear: both;
}
body .content .main-content .evaluate-list > ul > li .evaluate-product {
  float: left;
  margin-left: 50px;
}
body .content .main-content .evaluate-list > ul > li .evaluate-product .product {
  display: block;
  float: left;
  width: 40px;
  margin-top: 6px;
}
body .content .main-content .evaluate-list > ul > li .evaluate-product > ul {
  float: left;
  margin: 6px 0 0 0;
  padding: 0;
}
body .content .main-content .evaluate-list > ul > li .evaluate-product > ul li i {
  display: inline-block;
  margin-left: 15px;
  font-style: normal;
}
body .content .main-content .evaluate-list > ul > li .evaluate-user {
  float: left;
  margin-left: 40px;
}
body .content .main-content .evaluate-list > ul > li .evaluate-user .user-name {
  display: block;
  float: left;
  margin: 6px 0 0 0;
}
body .content .main-content .evaluate-list > ul > li .evaluate-user .star-comment {
  display: block;
  float: left;
  clear: both;
  margin: 6px 0 0 0;
}
body .content .main-content .evaluate-list > ul > li .evaluate-user .star-comment i {
  display: block;
  float: left;
  font-style: normal;
}
body .content .main-content .evaluate-list > ul > li .evaluate-user .star-comment .star {
  display: block;
  float: left;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background: url("../../img/heart.png");
  background-size: 100% 100%;
}
body .content .main-content > .btn {
  margin: 20px 0;
  padding: 5px 15px;
}
body .content .main-content > .btn:first-of-type {
  margin-left: 24px;
}
body .content .main-content table {
  width: 95%;
  margin: 0 auto;
}
body .content .main-content table .untreated {
  color: #E74848;
}
body .content .main-content table th,
body .content .main-content table td {
  vertical-align: middle;
  text-align: center;
}
body .content .main-content table th input,
body .content .main-content table td input {
  display: inline-block;
  margin-right: 2px;
}
body .content .main-content .page-divider {
  float: right;
  margin: 20px;
  margin-right: 2.5%;
}
body .trade-time {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 15px;
  border: solid 1px #EAEAEA;
  background-color: #F8F8F8;
  *zoom: 1;
}
body .trade-time:before,
body .trade-time:after {
  display: table;
  content: "";
  line-height: 0;
}
body .trade-time:after {
  clear: both;
}
body .trade-time span {
  display: inline-block;
  margin: 0px 20px;
  font-size: 20px;
}
body .trade-time span:nth-of-type(1) {
  margin-right: 5px;
}
body .trade-time .time {
  width: 230px;
  display: inline-block;
}
.comment > .header {
  height: 75px;
  background: #53d2d8;
}
.comment > .header h1 {
  padding-left: 150px;
  background: url("../../img/pm-transparent-logo.png") no-repeat 0 center;
}
.comment .main-menu {
  background: #409ea0;
}
.comment .main-menu img {
  float: none !important;
  margin-left: 40px;
}
.comment .main-menu h3 {
  font-weight: 100;
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-left: 20px;
}
.comment .main-menu .list-group li:hover {
  background: #52d3d7;
}
.comment .main-menu .list-group .active {
  background: #53d2d8;
}
.comment .main-menu .list-group .active:hover {
  background: #53d2d8;
}
.comment .main-menu .list-group li:first-child a {
  background: url("../../img/pm-product.png") no-repeat 0 center;
}
.comment .main-menu .list-group li:nth-child(2) a {
  background: url("../../img/pm-house.png") no-repeat 0 center;
}
.comment .main-menu .list-group li:nth-child(3) a {
  background: url("../../img/pm-person.png") no-repeat 0 center;
}
.comment .main-menu .list-group li:nth-child(4) a {
  background: url("../../img/pm-orders.png") no-repeat 0 center;
}
#productManage .main-content {
  border-top: none;
}
#productManage .main-content .main-content-header {
  font-size: 28px;
  font-weight: 100;
  color: #53d2d8;
}
#productManage .main-content .btn-primary {
  background-color: #53d2d8;
}
#productManage .main-content .btn-primary:hover {
  background-color: #48b4b7;
}
#orderManage .main-content {
  width: 100%;
  margin: 0px;
  border-top: none;
}
#orderManage .main-content .manage-type ul {
  background-color: #F5F9FD;
  border-bottom: solid 1px #cccccc;
  *zoom: 1;
}
#orderManage .main-content .manage-type ul:before,
#orderManage .main-content .manage-type ul:after {
  display: table;
  content: "";
  line-height: 0;
}
#orderManage .main-content .manage-type ul:after {
  clear: both;
}
#orderManage .main-content .manage-type ul li {
  width: 33.3%;
  float: left;
  text-align: center;
}
#orderManage .main-content .manage-type ul li a {
  display: block;
  width: 60%;
  height: 98%;
  padding: 15px 0px;
  margin: 0 auto;
  font-size: 26px;
  font-weight: 100;
  color: black;
  text-decoration: none;
  border-bottom: solid 2px #ffffff;
}
#orderManage .main-content .manage-type ul li a:hover {
  border-bottom: solid 2px #53d2d8;
}
#orderManage .main-content .manage-type ul li a.hover-line {
  border-bottom: solid 2px #53d2d8;
}
#orderManage .main-content .inline-div {
  *zoom: 1;
  padding: 15px 0px;
}
#orderManage .main-content .inline-div:before,
#orderManage .main-content .inline-div:after {
  display: table;
  content: "";
  line-height: 0;
}
#orderManage .main-content .inline-div:after {
  clear: both;
}
#orderManage .main-content .inline-div span {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 2.5%;
  background-image: url("../../img/03.3.png");
  background-size: 100% 100%;
}
#orderManage .main-content .inline-div .shop-icon {
  background-image: url("../../img/normal-orders.png");
}
#orderManage .main-content .inline-div h3 {
  float: left;
  width: 110px;
  color: #53d2d8;
  margin: 0px;
}
#orderManage .main-content .inline-div h4 {
  float: left;
  width: 200px;
  color: #53d2d8;
  margin: 0px;
  margin-top: 6px;
}
#orderManage .main-content .btn-primary {
  background-color: #53d2d8;
}
#orderManage .main-content .btn-primary:hover {
  background-color: #48b4b7;
}
#orderManage .wrap {
  position: relative;
}
#orderManage .wrap #search {
  position: absolute;
  left: 0px;
  top: 2px;
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 2.5%;
  background-image: url("../../img/03.2.png");
  background-size: 100% 100%;
}
#orderManage .wrap input {
  width: 95%;
  margin: 0 auto;
  padding-left: 30px;
}
#orderManage tbody tr #danger-orders {
  position: relative;
}
#orderManage tbody tr #danger-orders #danger-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-image: url("../../img/03.1.png");
  background-size: 100% 100%;
}
#orderManage tbody tr #danger-orders .badge {
  position: absolute;
  top: 2px;
  right: 23%;
  background-color: #D74B4C;
}
#orderManage tbody tr .align-left {
  text-align: left;
}
#orderManage tbody tr #normal-orders #normal-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-image: url("../../img/normal-orders.png");
  background-size: 100% 100%;
}
#user-manage .btn-primary {
  background-color: #52d3d7;
  border: none;
}
#user-manage .btn-primary:hover {
  background-color: #48b4b7;
}
#user-manage .main-content .inline-div-header {
  margin: 10px 30px;
  padding-left: 24px;
  background-image: url("../../img/user.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}
#user-manage .main-content .wrap {
  *zoom: 1;
}
#user-manage .main-content .wrap:before,
#user-manage .main-content .wrap:after {
  display: table;
  content: "";
  line-height: 0;
}
#user-manage .main-content .wrap:after {
  clear: both;
}
#user-manage .main-content .wrap .search {
  margin: 0 30px;
  width: 720px;
  float: left;
  padding-left: 36px;
  background-image: url("../../img/03.2.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}
#user-manage .main-content .wrap .submit {
  width: 200px;
  float: left;
  border: none;
}
#user-manage .main-content .trade-time .submit {
  width: 150px;
  margin-left: 60px;
}
#user-manage .main-content .all-stores-and-icon {
  width: 955px;
  margin: 0 auto;
  *zoom: 1;
}
#user-manage .main-content .all-stores-and-icon:before,
#user-manage .main-content .all-stores-and-icon:after {
  display: table;
  content: "";
  line-height: 0;
}
#user-manage .main-content .all-stores-and-icon:after {
  clear: both;
}
#user-manage .main-content .all-stores-and-icon .icon {
  display: inline-block !important;
  width: 36px;
  height: 36px;
  background-image: url("../../img/home-icon.png");
  float: left;
}
#user-manage .main-content .all-stores-and-icon .all-stores {
  width: 910px;
  float: left;
  padding: 0 20px;
}
#user-manage .main-content .all-stores-and-icon .all-stores a {
  display: inline-block;
  width: 150px;
  height: 38px;
  line-height: 38px;
  padding-left: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
  color: black;
  text-decoration: none;
  background-image: url("../../img/not-active-stores.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#user-manage .main-content .all-stores-and-icon .all-stores a:hover {
  background-image: url("../../img/active-stores.png");
}
.turnover-trade-time {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.turnover-trade-time .trade-record {
  margin-bottom: 20px;
  padding: 0px;
  background-color: #FFFFFF;
  *zoom: 1;
}
.turnover-trade-time .trade-record:before,
.turnover-trade-time .trade-record:after {
  display: table;
  content: "";
  line-height: 0;
}
.turnover-trade-time .trade-record:after {
  clear: both;
}
.turnover-trade-time .trade-record li {
  width: 25%;
  float: left;
  text-align: center;
}
.turnover-trade-time .trade-record li a {
  display: block;
  width: 60%;
  height: 98%;
  padding: 15px 0px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 100;
  color: black;
  text-decoration: none;
}
.turnover-trade-time .trade-record li.hover-bg {
  background-color: #F8F8F8;
}
#person-manage .btn-primary {
  background-color: #52d3d7;
  border: none;
}
#person-manage .btn-primary:hover {
  background-color: #48b4b7;
}
#person-manage .main-content .inline-div-header {
  margin: 10px 30px;
  padding-left: 24px;
  background-image: url("../../img/user.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}
#person-manage .main-content .wrap {
  *zoom: 1;
}
#person-manage .main-content .wrap:before,
#person-manage .main-content .wrap:after {
  display: table;
  content: "";
  line-height: 0;
}
#person-manage .main-content .wrap:after {
  clear: both;
}
#person-manage .main-content .wrap .search {
  margin: 0 30px;
  width: 720px;
  float: left;
  padding-left: 36px;
  background-image: url("../../img/03.2.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}
#person-manage .main-content .wrap .submit {
  width: 200px;
  float: left;
  border: none;
}
#person-manage .main-content .portrait {
  width: 100px;
  height: 100px;
  margin-left: 25px;
  margin-top: 10px;
  float: left;
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#person-manage .main-content .person-info {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 30px;
}
#person-manage .main-content .person-info span {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
}
#person-manage .main-content .person-info .name {
  margin-top: 15px;
  padding-left: 30px;
  background-image: url("../../img/user.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}
#person-manage .main-content .person-info .tel {
  padding-left: 30px;
  background-image: url("../../img/phone.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}
#person-manage .main-content .person-info .wechat {
  padding-left: 30px;
  background-image: url("../../img/wechat-sm.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}
#person-manage .main-content table thead td {
  text-align: left;
}
#person-manage .main-content table .first {
  text-align: center;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
  width: 100px;
}
