@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
a,
label {
  blr: expression(this.onFocus=this.blur());
}
a,
label {
  outline: none;
}
.header {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 44px;
  background-color: #5dc890;
}
.header .backspace {
  float: left;
  display: inline;
  width: 24px;
  height: 24px;
  background-image: url("../../img/返回 48.png");
  background-size: 100% 100%;
  margin-top: 10px;
  margin-left: 10px;
}
.header .share {
  float: right;
  display: inline;
  width: 24px;
  height: 24px;
  background-image: url("../../img/02 分享.png");
  margin-top: 10px;
  margin-right: 10px;
  background-size: 100% 100%;
}
.header h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -22px;
  width: 100px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-family: "幼圆";
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
}
.header ._search {
  float: left;
  display: inline;
  width: 83%;
  height: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 6px;
  font-size: 22px;
}
.header ._search span {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-right: 10px;
  background-size: 100% 100%;
}
.header ._search span:nth-of-type(1) {
  float: left;
  display: inline;
  margin-left: 10px;
  background-image: url("../../img/search.png");
}
.header ._search span:nth-of-type(2) {
  float: right;
  display: inline;
  background-image: url("../../img/x.png");
}
.header ._search form {
  display: inline-block;
}
.header ._search .search-you-want {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  width: 100%;
  font-size: 16px;
}
.footer {
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  width: 100%;
  background-color: #FFFFFF;
  height: 55px;
  border-top: solid 1px #cccccc;
}
.footer ul {
  position: absolute;
  bottom: 0;
  width: 100%;
  *zoom: 1;
}
.footer ul:before,
.footer ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.footer ul:after {
  clear: both;
}
.footer ul li {
  width: 25%;
  float: left;
  display: inline;
}
.footer ul li a {
  width: 100%;
}
.footer ul li a > span {
  display: block;
  width: 60px;
  margin: 0 auto;
}
.footer ul li a > span .footer-icon {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-top: 3px;
}
.footer ul li a > span i {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #212121;
}
.footer ul li a #icon1 {
  background-image: url("../../img/home.png");
  background-size: 100% 100%;
}
.footer ul li a #icon2 {
  background-image: url("../../img/product.png");
  background-size: 100% 100%;
}
.footer ul li a #icon3 {
  position: relative;
  background-image: url("../../img/footercard.png");
  background-size: 100% 100%;
}
.footer ul li a #icon3 .tooltip {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -40%;
  left: 50%;
  background-image: url("../../img/redRadiusTip.png");
  background-size: 100% 100%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  line-height: 24px;
  transform: scale(0.7);
}
.footer ul li a #icon4 {
  background-image: url("../../img/me.png");
  background-size: 100% 100%;
}
.border-raduis {
  border-radius: 10px;
}
html {
  font-family: "幼圆";
  font-size: 24px;
  color: #757575;
  font-weight: 400;
}
i {
  font-style: normal;
}
a {
  text-align: center;
}
.list-inline {
  display: inline-block;
}
[placeholder] {
  font-family: '幼圆';
}
.divider {
  display: block;
  width: 95%;
  height: 0px;
  margin: 0 auto;
  border-bottom: solid 1px #cccccc;
}
.p-right {
  float: right;
  display: inline;
}
.shopping-num {
  float: right;
  display: inline;
}
.shopping-num span {
  display: block;
  width: 36px;
  height: 36px;
  border: solid 1px #cccccc;
  float: left;
  display: inline;
}
.shopping-num span:nth-of-type(1) {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  background-image: url("../../img/01.2 -.png");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center center;
}
.shopping-num span:nth-of-type(2) {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-image: url("../../img/01.2 +.png");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center center;
}
.shopping-num .count {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: inline;
  width: 36px;
  height: 38px;
  padding: 5px;
  margin: 0 -1px;
  border: solid 1px #cccccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 20px;
  text-align: center;
  -webkit-appearance: none;
  vertical-align: top;
}
.love-search {
  *zoom: 1;
}
.love-search:before,
.love-search:after {
  display: table;
  content: "";
  line-height: 0;
}
.love-search:after {
  clear: both;
}
.love-search li {
  float: left;
  display: inline;
  width: 30%;
  padding-bottom: 5px;
  border: solid 1px #cccccc;
  border-radius: 15px;
  margin-right: 7px;
}
.love-search li a {
  display: block;
  width: 100%;
}
.love-search li a img {
  display: block;
  width: 100%;
  height: 90px;
}
.love-search li a i {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #212121;
}
.love-search li a span {
  font-size: 14px;
}
.love-search li a span:nth-of-type(1) {
  color: #f43a52;
}
.love-search li a span:nth-of-type(2) {
  color: #212121;
}
.product-info .slider {
  padding-top: 44px;
}
.product-info .information {
  margin-bottom: 50px;
}
.product-info .information span {
  text-align: left;
}
.product-info .information h4 {
  font-size: 26px;
  text-align: left;
  padding: 10px 10px;
  padding-bottom: 0px;
  font-weight: 500;
  color: #212121;
}
.product-info .information .cost {
  *zoom: 1;
  padding: 5px 10px;
}
.product-info .information .cost:before,
.product-info .information .cost:after {
  display: table;
  content: "";
  line-height: 0;
}
.product-info .information .cost:after {
  clear: both;
}
.product-info .information .cost span {
  float: left;
  display: inline;
  color: #f43a52;
  font-size: 24px;
  font-weight: 500;
}
.product-info .information .norms-span {
  font-size: 18px;
  font-weight: 500;
}
.product-info .information .norms {
  padding: 12px 10px;
}
.product-info .information .norms i {
  display: inline-block;
  background-color: #5dc890;
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
  padding: 5px;
  border-radius: 5px;
}
.product-info .information .dispatching {
  padding: 12px 10px;
  padding-top: 7px;
}
.product-info .information .dispatching i {
  color: #212121;
  font-size: 12px;
  font-weight: 500;
}
.product-info .information .dispatching .p-right span {
  font-size: 16px;
  color: #212121;
  font-weight: 500;
}
.product-info .information .dispatching .p-right span i {
  font-size: 16px;
  color: #f43952;
  font-weight: 500;
}
.product-info .information .dispatching .p-right .toRight {
  display: inline-block;
  width: 30px;
  height: 25px;
  background-image: url("../../img/toRight.png");
  background-size: 100% 100%;
  vertical-align: middle;
  margin-top: 3px;
}
.product-info .information .dispatching .time-tip {
  display: inline-block;
  margin-left: -10px;
}
.product-info .information .dispatching .comment {
  font-size: 16px;
}
.product-info .information .dispatching .one-recommend {
  *zoom: 1;
}
.product-info .information .dispatching .one-recommend .norms-span {
  display: block;
  float: left;
  height: 60px;
  line-height: 60px;
  color: #757575;
}
.product-info .information .dispatching .one-recommend img,
.product-info .information .dispatching .one-recommend .next-page {
  width: 50px;
  height: 50px;
  float: right;
  margin: 5px 0;
}
.product-info .information .dispatching .one-recommend .next-page {
  background: url("../../img/toRight.png") no-repeat;
  background-position: center center;
  background-size: 75% 75%;
  margin-top: 3px;
}
.product-info .information .dispatching .one-recommend:before,
.product-info .information .dispatching .one-recommend:after {
  display: table;
  content: "";
  line-height: 0;
}
.product-info .information .dispatching .one-recommend:after {
  clear: both;
}
.product-info .information .dispatching .more {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  color: #5dc890;
  clear: left;
}
.product-info .information .one-rec {
  padding: 0 10px;
  clear: left;
}
.product-info .divider {
  clear: left;
}
