@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
a,
label {
  blr: expression(this.onFocus=this.blur());
}
a,
label {
  outline: none;
}
.header {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 44px;
  background-color: #5dc890;
}
.header .backspace {
  float: left;
  display: inline;
  width: 24px;
  height: 24px;
  background-image: url("../../img/返回 48.png");
  background-size: 100% 100%;
  margin-top: 10px;
  margin-left: 10px;
}
.header .share {
  float: right;
  display: inline;
  width: 24px;
  height: 24px;
  background-image: url("../../img/02 分享.png");
  margin-top: 10px;
  margin-right: 10px;
  background-size: 100% 100%;
}
.header h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -22px;
  width: 100px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-family: "幼圆";
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
}
.header ._search {
  float: left;
  display: inline;
  width: 83%;
  height: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 6px;
  font-size: 22px;
}
.header ._search span {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-right: 10px;
  background-size: 100% 100%;
}
.header ._search span:nth-of-type(1) {
  float: left;
  display: inline;
  margin-left: 10px;
  background-image: url("../../img/search.png");
}
.header ._search span:nth-of-type(2) {
  float: right;
  display: inline;
  background-image: url("../../img/x.png");
}
.header ._search form {
  width: 70%;
  display: inline-block;
}
.header ._search .search-you-want {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  width: 100%;
  font-size: 16px;
}
.footer {
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  width: 100%;
  background-color: #FFFFFF;
  height: 55px;
  border-top: solid 1px #cccccc;
}
.footer ul {
  position: absolute;
  bottom: 0;
  width: 100%;
  *zoom: 1;
}
.footer ul:before,
.footer ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.footer ul:after {
  clear: both;
}
.footer ul li {
  width: 25%;
  float: left;
  display: inline;
}
.footer ul li a {
  width: 100%;
}
.footer ul li a > span {
  display: block;
  width: 60px;
  margin: 0 auto;
}
.footer ul li a > span .footer-icon {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-top: 3px;
}
.footer ul li a > span i {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #212121;
}
.footer ul li a #icon1 {
  background-image: url("../../img/3.png");
  background-size: 100% 100%;
}
.footer ul li a #icon2 {
  background-image: url("../../img/lanzi.png");
  background-size: 100% 100%;
}
.footer ul li a #icon3 {
  position: relative;
  background-image: url("../../img/me.png");
  background-size: 100% 100%;
}
.footer ul li a #icon3 .tooltip {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -40%;
  left: 50%;
  background-image: url("../../img/redRadiusTip.png");
  background-size: 100% 100%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  line-height: 24px;
  transform: scale(0.7);
}
.footer ul li a #icon4 {
  background-image: url("../../img/xianyouhui.png");
  background-size: 100% 100%;
}
#garden .footer-active {
  background-image: url("../../img/Hcaiyuanzi.png") !important;
}
#garden .footer-active + i {
  color: #5dc890 !important;
}
#basket .footer-active {
  background-image: url("../../img/Hcaiyuanzi.png") !important;
}
#basket .footer-active + i {
  color: #5dc890 !important;
}
#footer-me .footer-active {
  background-image: url("../../img/hoverMe.png") !important;
}
#footer-me .footer-active + i {
  color: #5dc890 !important;
}
.border-raduis {
  border-radius: 10px;
}
html {
  font-family: "幼圆";
  font-size: 24px;
  color: #757575;
  font-weight: 400;
}
i {
  font-style: normal;
}
a {
  text-align: center;
}
.list-inline {
  display: inline-block;
}
[placeholder] {
  font-family: '幼圆';
}
.divider {
  display: block;
  width: 95%;
  height: 0px;
  margin: 0 auto;
  border-bottom: solid 1px #cccccc;
}
.p-right {
  float: right;
  display: inline;
}
.shopping-num {
  float: right;
  display: inline;
}
.shopping-num span {
  display: block;
  width: 36px;
  height: 36px;
  border: solid 1px #cccccc;
  float: left;
  display: inline;
}
.shopping-num span:nth-of-type(1) {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  background-image: url("../../img/01.2 -.png");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center center;
}
.shopping-num span:nth-of-type(2) {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-image: url("../../img/01.2 +.png");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center center;
}
.shopping-num .count {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: inline;
  width: 36px;
  height: 38px;
  padding: 5px;
  margin: 0 -1px;
  border: solid 1px #cccccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 20px;
  text-align: center;
  -webkit-appearance: none;
  vertical-align: top;
}
.love-search {
  *zoom: 1;
}
.love-search:before,
.love-search:after {
  display: table;
  content: "";
  line-height: 0;
}
.love-search:after {
  clear: both;
}
.love-search li {
  float: left;
  display: inline;
  width: 30%;
  padding-bottom: 5px;
  border: solid 1px #cccccc;
  border-radius: 15px;
  margin-right: 7px;
}
.love-search li a {
  display: block;
  width: 100%;
}
.love-search li a img {
  display: block;
  width: 100%;
  height: 90px;
}
.love-search li a i {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #212121;
}
.love-search li a span {
  font-size: 14px;
}
.love-search li a span:nth-of-type(1) {
  color: #f43a52;
}
.love-search li a span:nth-of-type(2) {
  color: #212121;
}
.home {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  *zoom: 1;
}
.home:before,
.home:after {
  display: table;
  content: "";
  line-height: 0;
}
.home:after {
  clear: both;
}
.home .logo {
  display: block;
  float: left;
  width: 75px;
  height: 40px;
  margin-top: 2px;
  margin-left: 5px;
  background-image: url("../../img/logo.png");
  -webkit-background-size: cover;
  background-size: cover;
}
.home .adjust-home-icon {
  display: block;
  width: 44px;
  height: 44px;
  float: left;
  margin-top: 3px;
}
.home .adjust-home-icon .home-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 3px;
  background-image: url("../../img/222.png");
  background-size: cover;
}
.home .adjust-home-icon .home-text {
  display: block;
  width: 30px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  color: white;
}
.vegetable-garden {
  display: block;
  width: 58px;
  padding-left: 40px;
  margin-top: 7px;
  margin-right: 10px;
  background-image: url("../../img/3.png");
  background-position: 5px 0;
  background-repeat: no-repeat;
  float: right;
  height: 30px;
  line-height: 30px;
  -webkit-background-size: 30px;
  background-size: 30px;
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.search {
  position: fixed;
  width: 100%;
  padding-top: 44px;
  z-index: 25;
  background-color: #ffffff;
  border-bottom: solid 1px #cccccc;
}
.search ._search {
  position: relative;
  display: block;
  width: 90%;
  height: 35px;
  margin: 10px auto;
  line-height: 35px;
  font-size: 20px;
  color: #909090;
  background-color: #EBEBEB;
  border-radius: 10px;
}
.search ._search .search-icon {
  display: block;
  position: absolute;
  top: 5px;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  background-image: url("../../img/search.png");
  background-size: 100% 100%;
}
.search ._search .search-you-want {
  position: absolute;
  left: 30px;
  width: 250px;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  margin-left: 5px;
}
.container {
  padding-top: 44px;
}
.container .content {
  width: 100%;
  *zoom: 1;
  padding-top: 55px;
  position: relative;
  overflow-x: hidden;
}
.container .content:before,
.container .content:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .content:after {
  clear: both;
}
.container .content .left-assortment {
  position: fixed;
  z-index: 1;
  width: 37%;
  min-height: 1600px;
  height: 100%;
  background-color: #ebebeb;
}
.container .content .left-assortment ul {
  height: 100%;
  min-height: 600px;
}
.container .content .left-assortment ul li {
  width: 100%;
  height: 44px;
  border-bottom: solid 1px #cccccc;
}
.container .content .left-assortment ul li a {
  display: block;
  width: 100%;
  line-height: 44px;
  font-size: 16px;
  color: #757575;
  text-align: left;
}
.container .content .left-assortment ul li a .current {
  background: white;
}
.container .content .left-assortment ul li a > span {
  display: block;
  width: 90%;
  height: 35px;
  margin: 7px auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.container .content .left-assortment ul li em {
  display: block;
  height: 35px;
  line-height: 35px;
  font-style: normal;
}
.container .content .left-assortment ul li .vegetable {
  background: url("../../img/classify1.png");
  display: block;
  width: 31px;
  height: 31px;
  line-height: 31px;
  float: left;
  margin-right: 5px;
  border: solid white 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.container .content .left-assortment ul li .meat {
  background: url("../../img/classify2.png");
  display: block;
  width: 31px;
  height: 31px;
  line-height: 31px;
  float: left;
  margin-right: 5px;
  border: solid white 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.container .content .left-assortment ul li .see {
  background: url("../../img/classify3.png");
  display: block;
  width: 31px;
  height: 31px;
  line-height: 31px;
  float: left;
  margin-right: 5px;
  border: solid white 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.container .content .left-assortment ul li .mother {
  background: url("../../img/classify4.png");
  display: block;
  width: 31px;
  height: 31px;
  line-height: 31px;
  float: left;
  margin-right: 5px;
  border: solid white 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.container .content .left-assortment ul li .prior {
  background: url("../../img/classify5.png");
  display: block;
  width: 31px;
  height: 31px;
  line-height: 31px;
  float: left;
  margin-right: 5px;
  border: solid white 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.container .content .left-assortment ul li .bargain-price {
  background: url("../../img/classify6.png");
  display: block;
  width: 31px;
  height: 31px;
  line-height: 31px;
  float: left;
  margin-right: 5px;
  border: solid white 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.container .content .right-detail {
  position: absolute;
  left: 37%;
  z-index: 20;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 90px;
  float: right;
  display: inline;
  background-color: #ffffff;
}
.container .content .right-detail ul {
  width: 100%;
  height: 100%;
  *zoom: 1;
}
.container .content .right-detail ul:before,
.container .content .right-detail ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .content .right-detail ul:after {
  clear: both;
}
.container .content .right-detail ul li {
  position: relative;
  width: 100%;
  *zoom: 1;
  border-bottom: solid 1px #cccccc;
}
.container .content .right-detail ul li:before,
.container .content .right-detail ul li:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .content .right-detail ul li:after {
  clear: both;
}
.container .content .right-detail ul li .shop-detail {
  float: left;
  display: inline;
  width: 68%;
}
.container .content .right-detail ul li .shop-detail a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: left;
  *zoom: 1;
}
.container .content .right-detail ul li .shop-detail a:before,
.container .content .right-detail ul li .shop-detail a:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .content .right-detail ul li .shop-detail a:after {
  clear: both;
}
.container .content .right-detail ul li .shop-detail a img {
  float: left;
  display: inline;
  width: 40%;
  border-radius: 30px;
  margin: 10px;
}
.container .content .right-detail ul li .shop-detail a ._detail {
  position: relative;
  float: left;
  display: inline;
  width: 50%;
  padding-top: 10px;
}
.container .content .right-detail ul li .shop-detail a ._detail p {
  width: 85%;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 100;
  color: #212121;
  overflow: hidden;
}
.container .content .right-detail ul li .shop-detail a ._detail strong {
  position: absolute;
  top: 35px;
  width: 300px;
  font-size: 12px;
  color: #858585;
}
.container .content .right-detail ul li .shop-detail a ._detail span {
  display: block;
  float: left;
  font-size: 16px;
  color: #f43a52;
  clear: both;
}
.container .content .right-detail ul li .shop-detail a ._detail i {
  display: block;
  float: left;
  padding: 2px 5px;
  height: 20px;
  line-height: 20px;
  margin-top: 20px;
  color: white;
  background-color: #5dc890;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 5px;
}
.container .content .right-detail ul li .shop-detail a ._detail .old-price {
  *zoom: 1;
  position: relative;
}
.container .content .right-detail ul li .shop-detail a ._detail .old-price:before,
.container .content .right-detail ul li .shop-detail a ._detail .old-price:after {
  display: table;
  content: "";
  line-height: 0;
}
.container .content .right-detail ul li .shop-detail a ._detail .old-price:after {
  clear: both;
}
.container .content .right-detail ul li .shop-detail a ._detail .old-price .old {
  display: block;
  position: relative;
  font-style: normal;
  font-size: 13px;
  float: left;
  margin-top: 2px;
  margin-left: 4px;
<<<<<<< HEAD
=======
  color: #212121;
>>>>>>> origin/master
}
.container .content .right-detail ul li .shop-detail a ._detail .old-price .first-line {
  display: block;
  position: absolute;
  left: 36px;
  top: 60px;
  width: 38px;
  height: 0;
  border: solid 1px #656565;
}
.container .content .right-detail ul li .slogan {
  font-size: 12px;
  color: #FFA59E;
  margin-top: 13px;
  width: 310px;
}
.container .content .right-detail ul li .shopping-car {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 45px;
  height: 45px;
  background: url("../../img/shopping-car.png") #ebf8f2 no-repeat;
  background-size: 80% 80%;
  background-position: center center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.container .content .right-detail ul li .shopping-num {
  position: absolute;
  right: 15px;
  bottom: 7px;
  width: 90px;
}
.container .content .right-detail ul li .shopping-num span {
  width: 29px;
  height: 30px;
}
.container .content .right-detail ul li .shopping-num .count {
  padding: 1px;
  width: 30px;
  height: 32px;
}
