@charset "utf-8";
body {
  background: url("../../img/search-not-fond.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  min-height: 500px;
}
body .not-fond {
  position: absolute;
  left: 45%;
  top: 47%;
  margin-left: -80px;
  margin-top: -17px;
  font-size: 18px;
  text-align: center;
  width: 220px;
  height: 34px;
  color: #212121;
  font-weight: 400;
}
body .other {
  position: absolute;
  left: 45%;
  top: 47%;
  margin-left: -80px;
  margin-top: -17px;
  font-size: 18px;
  text-align: center;
  width: 220px;
  height: 34px;
  color: #212121;
  font-weight: 400;
  top: 53%;
}
body h3 {
  color: #5DC890;
  margin-top: 320px;
  margin-bottom: 10px;
  font-size: 22px;
}
body .section {
  width: 295px;
  margin: 0 auto;
  padding-top: 44px;
  padding-bottom: 1px;
  font-weight: 400;
}
body .section ul {
  margin-bottom: 10px;
}
body .section ul li {
  width: 90px;
}
body .section ul li:last-child {
  margin-right: 0;
}
body form {
  width: 70%;
}
