@charset "utf-8";
*{
    margin:0;
    padding:0;
}
ul,
ol,
li {
    list-style-type: none;
    vertical-align: 0
}
.slider {
    display: none
}
/*用于获取更加体验*/

.focus span {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background: #666;
    font-size: 0
}
.focus span.current {
    background: #fff
}